<app-sidebar></app-sidebar>

<div class="container">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
    Launch static backdrop modal
  </button>
</div>
<div class="container">
  <h1>Temas</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Presentador</th>
        <th scope="col">Fecha Creación</th>
        <th scope="col">Fecha Actualizado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of temas">
        <td>{{t.id}}</td>
        <td>{{t.titulo}}</td>
        <td>{{t.descripcion}}</td>
        <td>{{t.presentador}}</td>
        <td>{{t.fecha_creacion}}</td>
        <td>{{t.fecha_updated}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="temaForm" (ngSubmit)="onSubmit()">
          <label for="inputId">Id</label>
          <input id="inputId" type="text" formControlName="id" class="form-control">
          <label for="inputTitulo">Titulo: </label>
          <input id="inputTitulo" type="text" formControlName="titulo" class="form-control">
          <label for="inputdescripcion">descripcion: </label>
          <input id="inputdescripcion" type="text" formControlName="descripcion" class="form-control">
          <label for="inputpresentador">presentador: </label>
          <input id="inputpresentador" type="text" formControlName="presentador" class="form-control">
          <label for="inputcategoria">categoria: </label>
          <input id="inputcategoria" type="text" formControlName="categoria" class="form-control">
          <label for="inputestatus">estatus: </label>
          <input id="inputestatus" type="text" formControlName="estatus" class="form-control">
          <label for="inputfecha_creacion">categoria: </label>
          <input id="inputfecha_creacion" type="text" formControlName="fecha_creacion" class="form-control">
          <label for="inputfecha_updated">fecha_updated: </label>
          <input id="inputfecha_updated" type="text" formControlName="fecha_updated" class="form-control">
          <label for="inputdeleted_date">deleted_date: </label>
          <input id="inputdeleted_date" type="text" formControlName="deleted_date" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>