<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="estructura" routerLink="/administracion/estructura">Estructura</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="cursos" routerLink="/administracion/cursos">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="temas" routerLink="/administracion/temas">Temas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="clases" routerLink="/administracion/clases">Clases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="recursos" routerLink="/administracion/recursos">Recursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="recursos" routerLink="/administracion/alumnos">Alumnos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="recursos" routerLink="/administracion/maestros">Maestros</a>
    </li>
</ul>